deepsecurity:
  # Deep Security DNS name or IP with port
  server: 3.239.104.249:4119
  # Deep Security as a Service
  # server: app.deepsecurity.trendmicro.com:443
  # Workload Security
  # server: workload.trend-us-1.cloudone.trendmicro.com:443

  # Type is 'ds' or 'ws'
  type: ds

  # API Key
  api_key: "DS/WS API Key"

  # API Keys in multi tenant mode
  # If defined, they overwrite api_key
  api_keys:
    tenant0: "DS API Key for tenant0"
    tenant1: "DS API Key for tenant1"
    tenant2: "DS API Key for tenant2"

  # Enable or disable TLS Verify
  tls_verify: False

# Log receiver
logger:
  host: 192.168.1.122
  port: 50514
  facility: local3
